<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Dateifabrik P24 Entsorgungsgebühr</label>
    <label lang="en">Dateifabrik P24 Disposal Fee</label>

    <version>0.0.4.3</version>
    <copyright>Dateifabrik</copyright>
    <license>MIT</license>
    <link>https://dateifabrik.de</link>
    <author>Dateifabrik</author>
    <compatibility minVersion="5.7.11"/>

    <changelog version="0.0.4.3">
        <changes lang="de">
        <![CDATA[
            <ul>
                <li> - composer.json erweitert</li>
            </ul>
        ]]>
        </changes>
        <changes lang="en">Version 03.08.2023</changes>
    </changelog>     

    <changelog version="0.0.4.2">
        <changes lang="de">
        <![CDATA[
            <ul>
                <li> - composer.json erweitert</li>
            </ul>
        ]]>
        </changes>
        <changes lang="en">Version 01.08.2023</changes>
    </changelog>    

    <changelog version="0.0.4.1">
        <changes lang="de">
        <![CDATA[
            <ul>
                <li> - composer.json erweitert</li>
            </ul>
        ]]>
        </changes>
        <changes lang="en">Version 01.08.2023</changes>
    </changelog>  

    <changelog version="0.0.4">
        <changes lang="de">
        <![CDATA[
            <ul>
                <li> - Verwaltung über Versionen aus github möglich</li>
            </ul>
        ]]>
        </changes>
        <changes lang="en">Version 01.08.2023</changes>
    </changelog>

    <changelog version="0.0.3">
        <changes lang="de">
        <![CDATA[
            <ul>
                <li> - kann jetzt mit composer installiert werden</li>
            </ul>
        ]]>
        </changes>
        <changes lang="en">Version 01.08.2023</changes>
    </changelog>


    <changelog version="0.0.2">
        <changes lang="de">
        <![CDATA[
            <ul>
                <li> - Formular für Lizenzkosten auf checkout/confirm-Seite implementiert</li>
                <li> - Änderung der Option fügt Artikel hinzu bzw. entfernt diesen</li>
            </ul>
        ]]>
        </changes>
        <changes lang="en">Version 04.07.2022</changes>
    </changelog>

    <changelog version="0.0.1">
        <changes lang="de">Erste Version 13.07.2022</changes>
        <changes lang="en">First version 13.07.2022</changes>
    </changelog>
</plugin>
