<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Dateifabrik P24 Entsorgungsgebühr</label>
    <label lang="en">Dateifabrik P24 Disposal Fee</label>

    <version>0.0.204</version>
    
    <copyright>Dateifabrik</copyright>
    <license>MIT</license>
    <link>https://dateifabrik.de</link>
    <author>Dateifabrik</author>
    <compatibility minVersion="5.7.11"/>

    <changelog version="0.0.204">
        Version 03.11.2023
        <changes lang="de">
        <![CDATA[
            <ul>
                <li> - test tag v0.0.204 only</li>
            </ul>
        ]]>
        </changes>
        <changes lang="en">Version 02.11.2023</changes>
    </changelog>

    <changelog version="0.0.203">
        Version 02.11.2023
        <changes lang="de">
        <![CDATA[
            <ul>
                <li> - test tag v0.0.203 only</li>
            </ul>
        ]]>
        </changes>
        <changes lang="en">Version 02.11.2023</changes>
    </changelog>

    <changelog version="0.0.202">
        Version 02.11.2023
        <changes lang="de">
        <![CDATA[
            <ul>
                <li> - test tag v0.0.202 only</li>
            </ul>
        ]]>
        </changes>
        <changes lang="en">Version 02.11.2023</changes>
    </changelog>

    <changelog version="0.0.2">
        <changes lang="de">
        <![CDATA[
            <ul>
                <li> - Verwaltung per composer mit github als Repository</li>
            </ul>
        ]]>
        </changes>
        <changes lang="en">Version 03.08.2023</changes>
    </changelog>

    <changelog version="0.0.1">
        <changes lang="de">Erste Version 13.07.2022</changes>
        <changes lang="en">First version 13.07.2022</changes>
    </changelog>
</plugin>
